@import url('https://fonts.googleapis.com/css?family=Lora:400,400i,700,700i');

html, body {
  height: 100%;
  font-family: 'Lora', serif;
  background: #fff;
  color: #666;
}

.btn-primary {
  background: #666 !important;
  border: none !important;
  outline: none !important;
  width: 100%;
}

.form-control:focus {
  border-color: #666;
}

.btn-primary:hover, .btn-primary:active, .btn-primary:focus {
  background: #666 !important;
  outline: none !important;
  border: none !important;
}

.meme-gen-modal {
  display: flex;
  flex-direction: column;
  max-width: fit-content;
}

.meme-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-control:focus {
  box-shadow: none;
}

.main-content {
  display: flex;
  flex-direction: column;
}
